body {
    margin: 0px;
}

#fingerpori {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 560px;
    height: 180px;
}

#frontImg {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 590px;
    height: 210px;
}
