<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Fok_it</string>
	<key>CFBundleIdentifier</key>
	<string>mursu.fok_it</string>
	<key>CFBundleName</key>
	<string>Fok_it</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>228</integer>
	<key>MainHTML</key>
	<string>fok_it.html</string>
	<key>Width</key>
	<integer>590</integer>
</dict>
</plist>
